.pagination {
    width: 100%;

    
}

.pagination ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 6em;

}

.pagination ul li {
    list-style: none;
    height: 1em;
}

.pagination ul li button {
    width: 7em;
    height: 5em;
    border-radius: 10px;
    background: #232323;
    color: white;
    margin: 1em;
    margin-top: 1em;
    
}