.container {
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 0.5em;
    font-size: 5rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
}